// Colors
$primary_color: rgba(35, 35, 35);
$primary_color_dark: rgba(10, 10, 10);
$primary_color_rgbaDefault: rgba(0, 0, 0, .4);

$second_color: #ff6c00;

$third_color: #3498db;


// Font-size
$font_title_extra: 3rem;
$font_title: 2.3rem;
$font_title_small: 1.6rem;
$font_default: 1rem;
$font_small: .8rem;


// Border-radius
$borderRadius_default: 10px;

